@charset "UTF-8";

// font famil types:
// font-family: 'Special Elite', cursive;
// font-family: 'Caveat Brush', cursive;
// font-family: 'Cabin Sketch', cursive;
// font-family: 'Arbutus Slab', serif;
// font-family: 'Rock Salt', cursive;

html, body, #app, #index-body { height: 100%; margin:0px; padding: 0px; }
header { margin-bottom: 50px;clear: both; display: inline-block; position:relative; height: 100px; }
footer {
	bottom: 0px;
	clear: both;
	height:170px;
	width: 100%;
	margin-top: 50px;
	background-image: url(https://orctea.com/api/image/VLongLogoLo7.jpg);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
h1 { text-align: center; margin-bottom: 10px; margin-top:0px; }
h2 { margin: 5px 0; padding: 0px; }
p { margin: 0px; padding: 0px; }
ul { list-style: none; padding: 0px; margin:0px; }
img {width: 100%; }

//--------------scss
$left : left;
$auto : auto;
$right: right;
$background-size: contain;

/* col */
.col-12 { width: percentage(12/12); float: $left;}
.col-11 { width: percentage(11/12); float: $left;}
.col-10 { width: percentage(10/12); float: $left;}
.col-9 { width: percentage(9/12); float: $left;}
.col-8 { width: percentage(8/12); float: $left;}
.col-7 { width: percentage(7/12); float: $left;}
.col-6 { width: percentage(6/12); float: $left;}
.col-5 { width: percentage(5/12); float: $left;}
.col-4 { width: percentage(4/12); float: $left;}
.col-3 { width: percentage(3/12); float: $left;}
.col-2 { width: percentage(2/12); float: $left;}
.col-1 { width: percentage(1/12); float: $left;}

// Inner box iCol
.iCol-12 { width: percentage(12/12); margin: auto;}
.iCol-11 { width: percentage(11/12); margin: auto;}
.iCol-10 { width: percentage(10/12); margin: auto;}
.iCol-9 { width: percentage(9/12); margin: auto;}
.iCol-8 { width: percentage(8/12); margin: auto;}
.iCol-7 { width: percentage(7/12); margin: auto;}
.iCol-6 { width: percentage(6/12); margin: auto;}
.iCol-5 { width: percentage(5/12); margin: auto;}
.iCol-4 { width: percentage(4/12); margin: auto;}
.iCol-3 { width: percentage(3/12); margin: auto;}
.iCol-2 { width: percentage(2/12); margin: auto;}
.iCol-1 { width: percentage(1/12); margin: auto;}

// fix css
.float-left { float: left; }
.float-right { float: right; }
.clear-right { clear: right; }

.margin-10 { margin: 10px 0;}
.margin-50 { margin: 50px 0;}

.body_container { height: 80vw; }

.title_h1 { text-align: center; font-size: 3em; font-weight: 700; font-family: 'Cabin Sketch', cursive;}
.title_h2 { text-align: center; font-size: 2em; font-weight: 600; font-family: 'Cabin Sketch', cursive;}
.title_logo { width: 180px; height: 180px; margin:auto; }

.x-button { margin: 5px; }

.hr70 { width: 70%; margin:25px 15%;}
// Header
.material-icons {display: none;}
.head-nav {
 position: relative;
 height: 100%;
 font-family: 'Arbutus Slab', serif;
 .nav-container {
   position: absolute;
   bottom: 0px;
   right: 10px;
 }
}
.page-top { display: block; }
.header_link { margin-left: 12px; float:left; }
.logo_image { height: 100%; max-height: 100px; max-width: 200px;}

.displayToggleLG {
	display: none;
}

ul.ulul{    position: absolute;
    margin: 20px 0 0 30px;
    text-align: center;
    // background-color: rgba(154,205,50,.2);
		height: 25px;
		width: 50%;
		li {
			float: left;
			margin-left: 10px;
		}
	}
.showSub:hover .ulul{ display: block; }
// .showSub { display: none; background-color: rgba(255,255,255,.8);  position: absolute;   margin-top: 15px; height: 25px;}
// .showSub:hover .ulul{ display: block; }
.clicked { display: block;}

// Footer
  .footer_p {
    text-align: center;
  }
  .footer__copyright {
    font-size: .7em;
  }
// Home
  .g-font {
    font-family: 'Permanent Marker', cursive;
    margin: 20px 0;
    padding: 0 10%;
    font-size: 1.5em;
    display: inline-block;
    float:left;
  }

  .front_text_inner{
	h1, h2 { text-shadow: 1px 1px white;}
	p  { text-shadow: 1px 1px green; font-size: 18px;}
  }

  .home_cru { display: inline-block; }
// Find Us
	.findUs_container label{ text-align: right; padding-right:5px;}
  .findUs_container {
    text-align: center;
    display: block;
    margin: 50px 0px;
  }
  .find_us_form input, .find_us_form label{
    float:left;
  }
  .find_us_input {
    width: 100%;
    margin-bottom: 5px;
    float: left;
  }
  .iframe {
    height: 500px;
  }
  .submit_button {
    width: 100px;
    float: right;
  }

  form.col-12.find_us_form {
      border: 1px solid rgba(0, 0,0,.3);
      padding: 20px 10px 10px 10px;
  }
// MISSION
  .mission_page {
    text-align: center;
    max-width: 800px;
  }
  .vegreen_mission_img {
    width:200px;
  }

// menus
	.new_arrival_box h2{ font-size: 400%; text-align: center;margin-top:50%;font-family: 'Special Elite', cursive;}
  .menu_title {height: 240px;}
  .text_center {
    text-align: center;
    display: inline-block;
    clear: both;
  }
  .menu_text {
    margin-top: 15px;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.25em;
  }
	.menu_box_container{
		margin:30px 0;
	}
  .menu_box {
		margin: auto;
  }
	.margin-padding {
		margin-bottom: 30px;
	}

  img.mag_img {height: 180px; width:auto; margin: 0 15%;}
  .menu-thumb:hover { opacity: .8; }
  .menu-thumb img { width: 90%; margin-left: 5%; border: 1px solid rgba(0,0,0,0.3);}
  .menu-thumb p { width: 100%; text-align: center; margin-bottom: 20px;}
// VideoList
  .youIframe { width: 325px; height: 225px; }

// ========== slider ================================

.page {
    height: 60vw;
}

.col {
    height: 100%;
    overflow:hidden;
}

.image {
  transition: all 0.3s linear;
  cursor: pointer;
  background-color: #f3f3f3;
  width: 100%;
  text-align: left;
  margin: 0 auto;
  &:hover {
    background-color: #f3f3f3;
    border-color: #f3f3f3;
  }
  img {
    max-width: calc(100%);
    margin: 0 auto;
    display: block;
  }
  .index {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    line-height: 20px;
    font-size: 14px;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
  }
  .details {
    position: relative;
  }
  .features {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      // padding-left: 24px;
      // margin-right: 10px;
      display: inline-block;
      span {
        display: none;
      }
    }
  }
}

.cards-slider-wrapper {
  display: flex;
  position: absolute;
  width:100%;
  transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  .image {
    flex: 1;
    opacity: 0.7;
    box-shadow: none;
    background-color: white;
    border-color: white;
    transition: opacity 300ms linear, border-color 300ms linear, background-color 300ms linear,transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    .details {
      opacity: 0;
      transition: opacity 150ms linear;
    }
  }
}


.cards-slider {
  position: relative;
  width: 300%;
  margin: 0 auto;
  // boder for active property
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}


.btn_box {
    width: 100%;
    position: relative;
    top: 30vw;
    z-index: 2;
    button.prev_img {
      padding: 20px 10px;
      opacity: .3;
    }
    button.next_img {
      right: 0px;
      position: absolute;
      padding: 20px 10px;
      opacity: .3;
    }
}

.front_text {
  position: absolute;
  top: 50vw;
  z-index: 3;
  .front_text_inner {
    text-align:center;
    padding-left: 10vw;
    display: inline-block;
    color: green;
  }
  p {
    color: white;
  }
}

.award {
  width: 200px;
  position: absolute;
  background-color: white;
  z-index: 2;
  right: 10px;
  top: 45vw;
}


//=-==========pop-up=================================
.popup {
  position: fixed;
  display: block;
  overflow: auto;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
  position: absolute;
  margin: 5%;
  background: white;
}
//=-=================================================

@media only screen and (max-width: 480px){
  .front_text{
		position: unset;
		.front_text_inner {
			text-align: center;
			h1 {
				font-size: 1.5em;
			}
			h2 {
				font-size: 1em;
			}
			p{
				font-size: .8em;
				color: black;
				text-shadow: 0 0;
				a:link, a:visited, a:hover, a:active {
					color: none
					}
				}
		  }
		}
}

@media only screen and (max-width: 640px){
  .s-col-12 { width: percentage(12/12);}
  .s-col-11 { width: percentage(11/12); float: $left;}
  .s-col-10 { width: percentage(10/12); float: $left;}
  .s-col-9 { width: percentage(9/12); float: $left;}
  .s-col-8 { width: percentage(8/12); float: $left;}
  .s-col-7 { width: percentage(7/12); float: $left;}
  .s-col-6 { width: percentage(6/12); float: $left;}
  .s-col-5 { width: percentage(5/12); float: $left;}
  .s-col-4 { width: percentage(4/12); float: $left;}
  .s-col-3 { width: percentage(3/12); float: $left;}
  .s-col-2 { width: percentage(2/12); float: $left;}
  .s-col-1 { width: percentage(1/12); float: $left;}

	.s-iCol-12 { width: percentage(12/12); margin: auto;}
	.s-iCol-11 { width: percentage(11/12); margin: auto;}
  .s-iCol-10 { width: percentage(10/12); margin: auto;}
  .s-iCol-9 { width: percentage(9/12); margin: auto;}
  .s-iCol-8 { width: percentage(8/12); margin: auto;}
  .s-iCol-7 { width: percentage(7/12); margin: auto;}
  .s-iCol-6 { width: percentage(6/12); margin: auto;}
  .s-iCol-5 { width: percentage(5/12); margin: auto;}
  .s-iCol-4 { width: percentage(4/12); margin: auto;}
  .s-iCol-3 { width: percentage(3/12); margin: auto;}
  .s-iCol-2 { width: percentage(2/12); margin: auto;}
  .s-iCol-1 { width: percentage(1/12); margin: auto;}

  .s-image { width: 90%; margin: 5%;}
  .title_logo { width: 180px; height: 200px; padding-top: 10px; margin:auto; }


	// Header
	.material-icons {display: block; font-size:48px;color:green; position:absolute; right: 5px; top: 5px; }

	.displayToggle {
		display: none;
	}

	.head-nav {
		position: relative;
		height: 100%;
		.nav-container {
		  background-color: none;
		  border: 1px dotted rgba(0, 0, 0, 0.0);
		  position: absolute;
			width: 350px;
		  top: 40px;
		  height: 200px;
		  z-index: 25;
			font-family: 'Arbutus Slab', serif;
		  ul {
		    list-style: none;
		    padding: 0;
		    padding-top: 0px;
		    height: 100%;
		    li {
					position: relative;
		      float: left;
		      width: 95%;
		      height: 25%;
		      margin-left: 0%;
		      text-align: left;
		      background-color: rgba(256,256,256,.9);
		      border: 1px dotted black;
		      font-size: 1.3em;
		      padding: 10px 0 0 10px;
		      a, a:link, a:visited, a:hover, a:active {
		          text-decoration: none;
		          margin-left: 0px;
							color: black;
		      }
		    }
				li:hover, li:active {
					background-color: rgba(238, 255, 237, 0.9);
				}
		  }
		}
	}
	.page-top { display: block; }
	.logo_image { height: 100%; max-height: 100px; max-width: 200px;}
	.linkLi {width: 100%; height: 100%;}
	.linkLii {width:70%; height: 100%;}
	.icon-nav {width: 30%; height: 100%;}
ul.ulul {
		position: absolute;
    text-align: center;
    background-color: rgba(256, 256, 256, 0.9);
    height: 75px !important;
    width: 70%;
		z-index: 23;
		right: 0px;
		margin: 0;
	}
ul.ulul .ulli {
	float: none !important;
	height: 50% !important;
	font-size: .9em !important;
	a {
		position: absolute;
    width: 100%;

	}
}
	.clicked { display: block;}
// header end


  .mission_p {padding: 10px;}
  .display-hide { display: none;}
  // .body_container { height: 120vw; }
  .lunch_body {height:100vw; display:inline;}
  .ss-icon {width: 23%; float: left; margin: 0 1%;}
  .menu_text { font-size: .9em; }
  .g-font { font-size: 1.2em;}
  .footer-mid { display: none;}
  .hoursClass {
    li {
      font-size: 0.9em;
    }
  }
  .footer_p {
    h2 { font-size: 1.2em;}
    p {
      font-size: 0.9em;
    }
  }
  .footer__copyright {font-size: .5em;}
	.new_arrival_box h2{ display:none; }
}

@media only screen and (max-width: 760px){
  .award{
    display: none;
  }
	.header_link {
		font-size: 0.95em;
		margin-left: 7px;
	}
	ul.ulul {
		width: 55%;
	}
	.new_arrival_box h2{ font-size: 200%; }
}
@media only screen and (max-width: 980px){
	.new_arrival_box h2{ font-size: 300%; }
}

@media only screen and (min-width: 1028px){
  .ssLarge {
    width: 230px;
    img {
      width: 55px;
      float:right;
    }
  }
}
